# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# IDE / Editor files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Other unnecessary files
*.tar
*.tmp
